#global_errors ul {
  border:1px solid red;
  background:#f99;
}

.formErrorAlert {
  color: red;
  border: 2px solid red;
  margin: 2px;
  padding: 2px;
  font-weight: bold;
}
form.cmxform fieldset {
  margin-bottom: 10px;
  padding-top: 4px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
  *margin: 0 -7px; /* IE Win */
}
form.cmxform label {
  display:-moz-inline-box;
  display: inline-block;
  /*line-height: 1.8px;*/
  vertical-align: top;
  white-space:nowrap;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 35%; /* Width of labels */
}
form.cmxform input {
  vertical-align: top;
  width: 50%; /* Width of inputs */
}
form.cmxform input[type="checkbox"] {
  width: auto; /* Width of checkboxes */
}
form.cmxform select {
  width: 50%; /* Width of selects */
}
form.cmxform textarea {
  width: 50%; /* Width of textareas */
}
form.cmxform input.submitBtn {
  width: auto;
}

form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}
form.cmxform {
  width: 85%;
  font-size: 1.1em;
  color: #000;
}

form.cmxform legend { padding-left: 1px; }

form.cmxform legend,
form.cmxform label { color: #000; }

form.cmxform fieldset {
  /*border: none;*/
  /*border-top: 1px solid #C9DCA6;*/
  border: 1px solid gray;
  /*background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;*/
}

form.cmxform fieldset fieldset { background: none; }

form.cmxform fieldset li {
  padding: 5px 10px 7px;
  /*background: url(../images/cmxform-divider.gif) left bottom repeat-x;*/
}
